/* ======comon css starts here==== */
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style-type: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
body {
  background-color: #f2f2f2;
}
:root {
  --Montserrat: "Montserrat", sans-serif;
  --Raleway: "Raleway", sans-serif;
}
.header .title {
  color: #222;
  text-align: center;
  font-family: var(--Raleway);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.header .main_title {
  color: #222;
  text-align: center;
  font-family: var(--Raleway);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
}
/* ======comon css end here==== */

